:root {
    /* Основний темний колір */
    --main-dark: #1c1c24;
    /* Основний світлий колір */
    --main-light-text: #ffffff;
    --main-light-teen: #F2F2F2;
    /* более светлый серый */
    --main-light-green-text: #c2c2c2;
    /* колір основного тексту */
    --main-dark-text: #212121;
    /*  колір другорядного тексту */
    --other-text: #c1c0c0;
    /* footer */
    --m: 4rem;
    /* card */
    --main-card: #2b2b2b;
    --border-card: #eceff133;
    --hsl: var(--main-dark);
    /* loader */
    --loader-size: 50px;
    --loader-border-size: 4px;
    --loader-border-color: white;
    /* REEEED */
    --cancel-red: #F0544E;
    /* Светлые цвета */
    --color-light-bg: #097E71;
    --color-light-secondary: #f2f2f2;
}

/* Основная тема по умолчанию (светлая) */
body {
    min-height: auto;
    font-size: 14pt;
    padding: 0;
    font-family: "League Spartan", system-ui, sans-serif;
    display: grid;
    place-items: center;
    margin: 0;
}

/* Темная тема */
body.dark-theme {
    background-color: var(--main-dark);
    color: var(--main-light-text);

}

body.light-theme {
    background-color: var(--color-light-bg);
    color: var(--main-light-text)
}

/* Дополнительные элементы */
.navbar-dark {
    background-color: var(--color-dark-secondary);
}

.navbar-dark.light-theme {
    background-color: var(--color-light-bg);
}

.navbar-dark.dark-theme {
    background-color: var(--color-dark-secondary);
}



/* шрифт */
header {
    font-size: 16pt;
    width: 100%;
    background-color: var(--background-main);
    display: flex;
    color: var(--color-main);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* nav-bar */
.icon{
    margin: 50px;
    width:64px;
    height:auto;
}
.navbar-dark {
    background-color: var(--background-main);
    width: 100%;
    float: left;
    display: flex;
    line-height: 220%;
}

.left-start {
    margin-top: 40px;
    float: left;
}

.right-center {
    width: 100%;
}

.right-end {
    width: 15%;
}

.navbar-nav {
    justify-content: flex-end;
    display: flex;
}

.nav-item {
    margin: 30px;
    position: relative;
}

.nav-links {
    color: var(--other-text);
    text-decoration: none;
    position: relative;
    padding: 5px 0;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: var(--color-main);
}

.nav-links::before,
.nav-links::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0.3s ease;
}

.nav-links::after {
    left: 0;
    background-color: var(--cancel-red);
}

.nav-links::before {
    left: 0;
    background-color: #235aa6;
    transition-delay: 0.1s;
}

.nav-links:hover::before {
    width: 100%;
}

.nav-links:hover::after {
    width: 100%;
    transition-delay: 0.1s;
}

.nav-links:not(:hover)::before {
    width: 0;
    transition-delay: 0.3s;
}

.nav-links:not(:hover)::after {
    width: 0;
    transition-delay: 0.1s;
}

/* Стили для бургер-меню */
.burger-menu {
    display: none;
    /* Скрываем бургер-меню на ПК */
}

.burger-button {
    background-color: var(--background-main);
    color: var(--color-main);
    border: none;
    font-size: 30px;
    cursor: pointer;
}

/* Скрываем меню на мобильных устройствах */

.close-button {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 30px;
    color: var(--color-main);
    cursor: pointer;
}


/* footer */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

footer {
    flex: 0 0 auto;
    background-color: var(--background-main);
    font-family: "League Spartan", system-ui, sans-serif;
    font-weight: 300;
    color: var(--color-main);
    font-size: calc(0.3 * var(--m));

    margin-top: 5%;
    z-index: 5;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 5rem 2vw;
    position: relative;
    margin: 0;
}

footer::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0) 5%,
            rgba(0, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0.8) 40%,
            rgba(0, 0, 0, 1) 50%,
            rgb(0, 0, 0));
    z-index: -7;

}

.backdrop {
    z-index: -5;
    position: absolute;
    inset: 0;

    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);

    mask-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5) 10%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 1) 30%,
            rgb(0, 0, 0));

    -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0.5) 10%,
            rgba(0, 0, 0, 0.8) 20%,
            rgba(0, 0, 0, 1) 30%,
            rgb(0, 0, 0));
}

.col {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: calc(0.3 * var(--m)) calc(0.8 * var(--m));
    width: 28%;
}

.col2,
.col3 {
    background-color: var(--background-main-teen-footer);
    border-radius: calc(0.5 * var(--m))
}

.footer-img {
    height: calc(0.3 * var(--m));
    object-fit: cover;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: inherit;

}

.link {
    width: calc(0.8 * var(--m));
    height: calc(0.8 * var(--m));
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: calc(0.1 * var(--m));

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.main {
    background-color: var(--background-main);
    max-width: 75rem;
    min-height: 100%;
    padding: 3em 1.5em;
}

.main__heading {
    font-weight: 600;
    font-size: 2.25em;
    margin-bottom: 0.75em;
    text-align: center;
}

/* Products */
.cards {
    position: relative;
}

.cards__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
}

.card {
    --flow-space: 0.5em;
    --hsl: var(--hue), var(--saturation), var(--lightness);
    flex: 1 1 14rem;
    padding: 1.5em 2em;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    align-items: start;
    gap: 1.25em;
    color: #eceff1;
    background-color: var(--background-main-teen);
    border: 1px solid var(--border-card);
    border-radius: 15px;
}

.card:nth-child(1) {
    --hue: 165;
    --saturation: 82.26%;
    --lightness: 51.37%;
}

.card:nth-child(2) {
    --hue: 291.34;
    --saturation: 95.9%;
    --lightness: 61.76%;
}

.card:nth-child(3) {
    --hue: 338.69;
    --saturation: 100%;
    --lightness: 48.04%;
}

.card__bullets {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.card__bullets li::before {
    display: inline-block;
    content: url(https://sazep.github.io/aboba/src/svg/correct.svg);
    transform: translatey(0.25ch);
    margin-right: 1ch;
}

.card__heading {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    font-weight: 600;
}

.card__price {
    margin: 0;
    padding: 0;
    font-size: 1.75em;
    font-weight: 700;
}

.flow>*+* {
    margin-top: var(--flow-space, 1.25em);
}

.cta {
    display: block;
    align-self: end;
    margin: 1em 0 0.5em 0;
    text-align: center;
    text-decoration: none;
    color: var(--color-main);
    background-color: var(--background-main);
    padding: 0.7em;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.overlay {
    position: absolute;
    inset: 0;
    pointer-events: none;
    user-select: none;
    opacity: var(--opacity, 0);
    -webkit-mask: radial-gradient(25rem 25rem at var(--x) var(--y),
            #000 1%,
            transparent 50%);
    mask: radial-gradient(25rem 25rem at var(--x) var(--y),
            #000 1%,
            transparent 50%);
    transition: 400ms mask ease;
    will-change: mask;
}

.overlay .card {
    background-color: hsla(var(--hsl), 0.15);
    border-color: hsla(var(--hsl), 1);
    box-shadow: 0 0 0 1px inset hsl(var(--hsl));
}

.overlay .cta {
    display: block;
    grid-row: -1;
    width: 100%;
    background-color: hsl(var(--hsl));
    box-shadow: 0 0 0 1px hsl(var(--hsl));
}

:not(.overlay)>.card {
    transition: 400ms background ease;
    will-change: background;
}

:not(.overlay)>.card:hover {
    --lightness: 95%;
    background: hsla(var(--hsl), 0.1);
}

.buy-btn {
    background-color: var(--btn-main);
}

/* повяление текста */
.text-loading-mask {
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.text-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: transform 1s ease-in-out;
}

/* стили для загрузки html loader */
.load-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--background-main);
}

.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    border: var(--loader-border-size) solid var(--color-main);
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    position: relative;
    animation: rotateX 1s infinite linear;
}

.loader::before {
    content: "";
    border: var(--loader-border-size) solid var(--color-main);
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 500%;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    animation: rotateX 0.5s infinite linear reverse;
}

@keyframes rotateX {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

/* оплата картой */
.hidden {
    display: none;
}

#purchase-confirmation {
    min-width: 100%;
    text-align: center;
    padding: 20px;
    z-index: 10;
}

.modal {
    width: 600px;
    /* Фиксированная ширина */
    height: fit-content;
    background: var(--background-pay);
    border-radius: 26px;
    padding: 3%;
    max-width: 90%;
    /* Ограничиваем ширину */
    margin: 0 auto;
    /* Центрируем модальное окно */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.credit-card-info--form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Стили для разделенных полей (Expiry Date и CVV) */
.split {
    display: flex;
    gap: 15px;
}

.split input {
    width: 100%;
}

.input_label {
    font-size: 10px;
    color: var(--other-text);
    font-weight: 600;
}

.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: var(--main-light-teen);
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

/* Стили для полей с ошибками */
.input_field.error {
    border: 1px solid var(--cancel-red);
    background-color: #ffe5e5;
}

.error-message {
    color: var(--cancel-red);
    font-size: 12px;
    margin-top: 5px;
}

.purchase--btn {
    height: 55px;
    background: var(--background-main);
    border-radius: 11px;
    border: 0;
    outline: none;
    color: var(--color-main);
    font-size: 13px;
    font-weight: 700;
    box-shadow: 0px 0px 0px 0px var(--color-main), 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
    box-shadow: 0px 0px 0px 2px var(--background-main-teen), 0px 0px 0px 4px #0000003a;
}

.cancel--btn {
    height: 55px;
    background: var(--background-main-teen);
    border-radius: 11px;
    border: 0;
    outline: none;
    color: var(--color-main);
    font-size: 13px;
    font-weight: 700;
    background: var(--btn-main);
    box-shadow: 0px 0px 0px 0px var(--color-main), 0px 0px 0px 0px #000000;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.cancel--btn:hover {
    background: var(--cancel-red);
    box-shadow: 0px 0px 0px 2px var(--color-main), 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input_field[type=number] {
    -moz-appearance: textfield;
}

.price_dark {
    color: var(--main-dark);
}

.svgIcon {
    width: 16px;
}

.svgIcon path {
    fill: white;
}

/*  для телефона хз */

/* Общие стили для мобильных устройств */
@media only screen and (max-width: 750px) {
    body {
        font-size: 12pt;
        display: block;
    }

    .navbar-dark {
        line-height: 150%;
    }

    .nav-item {
        margin: 15px 0;
    }

    .nav-links {
        font-size: 12pt;
    }

    header {
        font-size: 14pt;
        text-align: center;
    }

    .main {
        padding: 2em 1em;
        max-width: 100%;

    }

    .cards__inner {
        flex-direction: column;
        gap: 1.5em;
    }

    .card {
        padding: 1em;
        flex: 1 1 auto;
    }

    .cta {
        font-size: 1rem;
        padding: 0.5em;
    }

    footer {
        flex-direction: column;
        padding: 2rem 1rem;
        text-align: center;
    }

    .col {
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .social {
        justify-content: center;
    }

    .form {
        padding: 15px;
    }

    .modal {
        width: 100%; 
        padding: 2%;
    }

    .purchase--btn,
    .cancel--btn {
        font-size: 12px;
        height: 45px;
        /* Уменьшаем размер кнопок */
    }
}

@media (max-width: 1400px) {
    .icon{
        width:64px;
        height:auto;
    }

    .left-start {
        width: min-content;
    }

    header {
        font-size: 16pt;
        display: flex;
    }
    .right-center {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--background-main);
        justify-content: center;
        align-items: center;
        z-index: 1000;
        display: none;
    }

    .burger-menu{
        padding: 3%;
        display: flex;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-links {
        font-size: 24px;
    }

    #main-nav.active {
        display: flex;
    }

    .close-button {
        display: flex;
    }
}
